/vendor
/node_modules
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/*
/public/admin
/public/admin-lte
/public/plugins
/public/bootstrap
/public/images
/public/jquery
/public/js
/public/storage
/public/phpmyadmin
/tests
.env
package-lock.json
composer.lock
.vscode
phpunit.xml
.phpintel.DS_Store
.phpintel
.DS_Store
